
/* body section */

body {
    background-color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no repeat;
    background-position: righttop;
    background-attachment: fixed;
     
     
  }

/* @media (max-width: 991px) {
    body {
        min-width:500px;
    }
} */


.big-container{

max-width: 65%; 
min-width: 65%;
padding-left: 80px;
padding-bottom: 2%;
list-style: none;

}

  a {
    color:white;
   text-decoration: none;


  }

  p {
    font-size: medium;
    line-height: 1.5em;
  }

.youtube-image {

  max-width: 100%;
  width: 500px;


}



/* all images */
  
img {
    border: 0.7px solid black;
    border-right-style: outset;
    
  }



 /* header section */


  .topnav {
    position: sticky;
    background-color: white;
    overflow: hidden;
    padding-left: 66px;
    position: sticky;
    z-index: 1;
    top: 0%;
    

  }
  

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  

  .topnav a.active {
    background-color: white;
    color: black;
  }

  /* quote section  */

   /* .quote-title{

    padding-left: 63px;


   } */



  /* all container */

  .container {
   
    overflow: hidden;
    width: 100%;

    padding-top: 56.25%;
     
  }

  /* this is for any video section */



/* sticky sidebar and button section */
   
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }

  @media only screen and (max-width: 959px) {
    .icon-bar { display: none ; }	
    }

    @media only screen and ( max-width:959px) {
      .big-container {
        padding: 0px;
        max-width: fit-content;
        
    }
      }


   
    

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

   
  .icon-bar a:hover {
    background-color: lightslategray;
  }

  .discord {
    background: #3B5998;
    color: white;
  }

  .twitter {
    background: #55ACEE;
    color: white;
  }

  .instagram {
    background: rgb(197, 54, 164);
    color: white;
  }

  .linkedin {
    background: #007bb5;
    color: white;
  }

  .facebook {
    background: #3b5998;
    color: white;
  }

  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* rating section */

  .checked {
    color: orange;
  }

  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #333333;
    color: #ffffff;

  }

  
